@import '../../sass/variables.scss';

.profile {
    align-items: center;
    border: 0;
    img {
        width: auto;
        max-height: 25em;
    }
    .card-subtitle {
        color: $color-primary-branding;
    }
    .card-text {
        background-color: $color-light-gray;
        padding: 20px;
        border-radius: 20px;
        .icon {
            color: $color-primary-branding;
            margin-right: 10px;
            font-size: 20px;
        }
    }
}