// Colors
$color-primary-branding: #049098;
$color-secundary-branding: #686868;
$color-third-branding: #212121;
$color-light-gray: #f3f1f1;

$color-primary-branding-03:rgba(4,144,152,0.3);
$color-error: #F44336;
$color-success: #008000;
$color-warning: #FF9800;
$color-gray-45: #737373;
$color-gray-90: #e6e6e6;
$color-gray-95: #f2f2f2;