@import '../../sass/variables.scss';

.clients {
    margin-bottom: 100px;
    .content {
        margin: 20px;
        align-content: center;
    }
    img {
        width: inherit;
        height: 15em;
        object-fit: scale-down;
    }
    h1 {
        color: $color-primary-branding;
        margin-top: 50px;
    }
    hr.divider {
        max-width: 10rem;
        border-width: .2rem;
        border-color: $color-primary-branding;
        margin-bottom: 50px;
    }
}