@import '../../sass/variables.scss';

.clients {
    margin-bottom: 100px;
    .content {
        margin: 20px;
        align-content: center;
    }
    img {
        width: inherit;
        height: 15em;
        object-fit: scale-down;
    }
    h1 {
        margin-top: 50px;
    }
}