@import '../../sass/variables.scss';

.title {
    h1 {
        color: $color-primary-branding;
    }
    hr.divider {
        max-width: 10rem;
        border-width: .2rem;
        border-color: $color-primary-branding;
        margin-bottom: 50px;
    }
}