@import 'src/sass/variables';

nav.navbar {
    padding: 16px;
    background-color: $color-third-branding;
    color: $color-secundary-branding;

    .navbar-nav .nav-item a {
        color: $color-secundary-branding;
        margin-right: 16px;
        text-transform: uppercase;
    }

    .navbar-nav .nav-item a:hover {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

}