@import '../../sass/variables.scss';

.productCard {
    .text {
        background-color: $color-light-gray;
        border-radius: 20px;
        padding: 20px;
        text-align: justify;
        h2 {
            color: $color-primary-branding;
            margin-left: 20px;
        }
    }
    button {
        background-color: $color-primary-branding;
        border: 0;
        transition: 0.4s;
        display: block;
        margin-top: 20px;
        &:hover {
            background-color: $color-primary-branding-03;  
        }
        &:active, &:focus {
            background-color: $color-primary-branding-03 !important;
            box-shadow: none !important;
        }
    }
    img {
        width: inherit;
        height: auto;
        object-fit: cover;
        margin: 10px;
    }
}

@media only screen and (max-width: 990px) { 
    .productCard {
        margin: 0;
        padding: 0;
        .content {
            margin: 0;
            padding: 0;
        }
        .image {
            order: 1;
        }
        .text {
            order: 2;
        }
        h2 {
            text-align: center;
        }
        button {
            margin: 20px auto 0 auto;
        }
    }
}