@import '../../sass/variables.scss';

.carousel {
    .carousel-item {
        height: calc(100vh - 56px);
        background-color: $color-third-branding;
        &.slide-tisa {
            background-color: black;
            .layer {
                background-color: black;
                opacity: 0.7;
            }
            img.tisa-logo {
                max-width: 70%; 
                opacity: 1;
                margin-bottom: 20px;
            }
        }
        img {
            opacity: 0.5;
            max-width: 100%; 
            height: inherit;
            object-fit: cover;
        }
        .carousel-caption {
            h1 {
                font-size: 8vw;
            }
            p {
                font-size: 3.5vw;
            }
            .slide-tisa {
                background-color: red;
            }
            button {
                background-color: $color-primary-branding;
                border: 0;
                transition: 0.4s;
                padding: 10px 30px 10px 30px;
                font-size: 3vw;
                &:hover {
                    background-color: $color-third-branding;
                }
                &:active, &:focus {
                    background-color: $color-third-branding !important;
                    box-shadow: none !important;
                }
            }
        }
    }
}