@import '../../sass/variables.scss';

.carousel {
    .carousel-item {
        height: calc(100vh - 56px);
        background-color: $color-third-branding;
        img {
            opacity: 0.5;
            max-width: 100%; 
            height: inherit;
            object-fit: cover;
        }
        .carousel-caption {
            h1 {
                font-size: 8vw;
            }
            p {
                font-size: 3.5vw;
            }
            button {
                background-color: $color-primary-branding;
                border: 0;
                transition: 0.4s;
                padding: 10px 30px 10px 30px;
                font-size: 3vw;
                &:hover {
                    background-color: $color-third-branding;
                }
                &:active, &:focus {
                    background-color: $color-third-branding !important;
                    box-shadow: none !important;
                }
            }
            .arrow-icon {
                position: absolute;
                -webkit-animation: arrow-move 2s infinite;
                animation: arrow-move 2s infinite;
                svg {
                    cursor: pointer;
                    font-size: 40px;
                }
            }
            @-webkit-keyframes arrow-move {
                from {top: calc(100vh - 40px);}
                to {top: calc(100vh - 20px);}
                // from {top: 490px;}
                // to {top: 520;}
            }
            @keyframes arrow-move {
                from {top: calc(100vh - 150px);}
                to {top: calc(100vh - 120px);}
                // from {top: 490px;}
                // to {top: 520px;}
            }
        }
    }
}