@import '../../sass/variables.scss';

.feature {
    align-items: center;
    border: 0;
    background-color: $color-primary-branding;
    .card-title {
        font-size: 30px;
        color: white;
    }
    .card-text {
        color: white;
        .icon {
            display: block;
            font-size: 80px;
            margin: 20px auto 20px auto;
        }
    }
}