@import 'src/sass/variables';

footer {
    padding: 24px;
    background-color: $color-third-branding;
    color: $color-secundary-branding;

    a {
        svg {
            margin-right: 16px;
            font-size: 32px;
            color: $color-secundary-branding;
        }
    }
}