@import 'src/sass/variables';

footer {
    padding: 24px;
    background-color: white;
    color: $color-secundary-branding;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,.12);

    a {
        svg {
            margin-right: 16px;
            font-size: 32px;
            color: $color-secundary-branding;
        }
    }
}